<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YellowPagesCrawler.Properties.Settings.WhatsUpConnectionString"
            connectionString="Data Source=68.178.128.83\SQLEXPRESS;Initial Catalog=WhatsUp;User ID=mjohnston;Password=wu.Admin1"
            providerName="System.Data.SqlClient" />
        <add name="YellowPagesCrawler.Properties.Settings.WhatsUpConnectionString1"
            connectionString="Data Source=50.62.165.198\SQLEXPRESS;Initial Catalog=WhatsUp;User ID=apps;Password=wu.Admin1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
